<app-navbar></app-navbar>

<main>

    <div class="heading-area">
        <h2>My Dogs</h2>
        <button class="create-btn" (click)="redirectToCreateListing()" >Create Dog Listing</button>
    </div>

    <div class="listing-area">
        <div *ngFor="let dog of allDogs" class="dog-item">
            <div class="listing-box">
                <div class="dog-box">
                    <div class="dog-img">
                        <img [src]="dog.image" [alt]="dog.name" alt=`${{dog.name}}`>
                    </div>
    
                    <div class="dog-content">
                        <div class="info">
                            <h3>{{ dog.name }}</h3>
                            <h5>Price: {{ dog.price }}</h5>
                        </div>
    
                        <div class="buttons">
                            <button (click)="editDog(dog.dogId)" class="dog-btn edit-button">Edit</button>
                            <button (click)="deleteDog(dog.dogId)" class="dog-btn delete-button">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>