*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.heading-area{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.listing-area{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    align-items: center;
    text-align: center;
}

img{
    padding: 20px;
    width: 300px;
}

.listing-box{
    display: flex;
    justify-content: center;
}

.dog-box{
    width: 80%;
    border-radius: 4%;
    background-color: #EFDFBBed;
}

.info{
    padding: 0px 10px;
}

.buttons{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.dog-btn{
    width: 45%;
}

button{
    border: none;
    border-radius: 0.8rem;
    color: white;
}

.edit-button{
    background-color: green;
    transition: 0.3s;
}

.edit-button:hover{
    background-color: #9e2a2b;
}

.delete-button{
    background-color: rgb(209, 47, 47);
    transition: 0.3s;
}

.delete-button:hover{
    background-color: #9e2a2b;
}

h2{
    font-weight: 500;
}

.create-btn{
    background-color: #9e2a2b;
    width: 25%;
    transition: 0.3s;
}

.create-btn:hover{
    
}