.login-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: right;
}

.login-link p {
    margin: 0;
}

.login-link button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.login-link button:hover {
    background-color: #0056b3;
}

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 100%;
    max-width: 780px;
    height: 640px;
    background-color: bisque;
}