.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.dog-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EFDFBB;
    padding: 20px;
    border-radius: 8px;
}

img{
    width: 300px;
}

.dog-details h2 {
    color: #e09f3e;
}

.dog-details p {
    color: #000;
}

.error-message {
    color: #e09f3e;
}

.user-info {
    margin-top: 20px;
}

.user-info h3 {
    color: #e09f3e;
}

.user-info p {
    color: #000;
}

.login-message {
    margin-top: 20px;
    color: #e09f3e;
}