<app-navbar></app-navbar>

<div class="container"  style="background-color: #EFDFBB;">
    <div class="filters">
        <div>
            <input type="text" [(ngModel)]="breedFilter" placeholder="Search by breed">
        </div>

        <div>
            <label>
                <input type="radio" name="gender" value="female" [(ngModel)]="genderFilter"> Female
            </label>
            <label>
                <input type="radio" name="gender" value="male" [(ngModel)]="genderFilter"> Male
            </label>
            <label>
                <input type="radio" name="gender" value="" [(ngModel)]="genderFilter"> No Preference&nbsp;&nbsp;
            </label>
        </div>

        <br>

        <div>
            Max Price:<input type="text" [(ngModel)]="maxPrice" placeholder="Max Price">
        </div>

        <button (click)="applyFilter()">Apply Filter</button>
    </div>

    <ng-container *ngFor="let breed of filteredBreeds">
        <div *ngIf="filteredDogs[breed].length > 0" class="listing">
            <h1>{{ breed }}</h1>
            <div *ngFor="let dog of filteredDogs[breed]">
                <a [routerLink]="['/dog', dog.dogId]">{{ dog.name }}</a>
                <img [src]="dog.image" alt="Dog Image">
                <p>Price: {{ dog.price }}</p>
            </div>
        </div>
    </ng-container>
</div>